templates/includes/nav.jade
// Navigation
nav.navbar.navbar-default.navbar-static-top(role='navigation', style='margin-bottom: 0')
    .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        a.navbar-brand(href='index.html') Admin panel
    // /.navbar-header
    ul.nav.navbar-top-links.navbar-right
        li.dropdown
            a.dropdown-toggle(data-toggle='dropdown', href='#')
                i.fa.fa-user.fa-fw
                i.fa.fa-caret-down
            ul.dropdown-menu.dropdown-user
                li
                    a(href='#')
                        i.fa.fa-user.fa-fw
                        |  User Profile
                li
                    a(href='#')
                        i.fa.fa-gear.fa-fw
                        |  Settings
                li.divider
                li
                    a(href='login.html')
                        i.fa.fa-sign-out.fa-fw
                        |  Logout
            // /.dropdown-user
        // /.dropdown
    // /.navbar-top-links
    .navbar-default.sidebar(role='navigation')
        .sidebar-nav.navbar-collapse
            ul#side-menu.nav
                li.sidebar-search
                    .input-group.custom-search-form
                        input.form-control(type='text', placeholder='Search...')
                        span.input-group-btn
                            button.btn.btn-default(type='button')
                                i.fa.fa-search
                    // /input-group
                li
                    a(href='index.html')
                        i.fa.fa-dashboard.fa-fw
                        |  Dashboard
                li
                    a(href='users.html')
                        i.fa.fa-users
                        |  Users
                li
                    a(href='events.html')
                        i.fa.fa-list
                        |  Events
                li
                    a(href='sitemap.html')
                        i.fa.fa-location-arrow
                        |  Site Map
                li
                    a(href='analitics.html')
                        i.fa.fa-line-chart
                        |  Google Analitics
                li
                    a(href='#')
                        i.fa.fa-bar-chart-o.fa-fw
                        |  Charts
                        span.fa.arrow
                    ul.nav.nav-second-level
                        li
                            a(href='flot.html') Flot Charts
                        li
                            a(href='morris.html') Morris.js Charts
                    // /.nav-second-level
                li
                    a(href='tables.html')
                        i.fa.fa-table.fa-fw
                        |  Tables
                li
                    a(href='forms.html')
                        i.fa.fa-edit.fa-fw
                        |  Forms
                li
                    a(href='#')
                        i.fa.fa-wrench.fa-fw
                        |  UI Elements
                        span.fa.arrow
                    ul.nav.nav-second-level
                        li
                            a(href='panels-wells.html') Panels and Wells
                        li
                            a(href='buttons.html') Buttons
                        li
                            a(href='notifications.html') Notifications
                        li
                            a(href='typography.html') Typography
                        li
                            a(href='icons.html')  Icons
                        li
                            a(href='grid.html') Grid
                    // /.nav-second-level
                li
                    a(href='#')
                        i.fa.fa-sitemap.fa-fw
                        |  Multi-Level Dropdown
                        span.fa.arrow
                    ul.nav.nav-second-level
                        li
                            a(href='#') Second Level Item
                        li
                            a(href='#') Second Level Item
                        li
                            a(href='#')
                                | Third Level
                                span.fa.arrow
                            ul.nav.nav-third-level
                                li
                                    a(href='#') Third Level Item
                                li
                                    a(href='#') Third Level Item
                                li
                                    a(href='#') Third Level Item
                                li
                                    a(href='#') Third Level Item
                            // /.nav-third-level
                    // /.nav-second-level
                li
                    a(href='#')
                        i.fa.fa-files-o.fa-fw
                        |  Sample Pages
                        span.fa.arrow
                    ul.nav.nav-second-level
                        li
                            a(href='blank.html') Blank Page
                        li
                            a(href='login.html') Login Page
                    // /.nav-second-level
        // /.sidebar-collapse
    // /.navbar-static-side

templates/includes/nav.html
<!-- Navigation--><nav role="navigation" style="margin-bottom: 0" class="navbar navbar-default navbar-static-top"><div class="navbar-header"><button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="index.html" class="navbar-brand">Admin panel</a></div><!-- /.navbar-header--><ul class="nav navbar-top-links navbar-right"><li class="dropdown"><a data-toggle="dropdown" href="#" class="dropdown-toggle"><i class="fa fa-user fa-fw"></i><i class="fa fa-caret-down"></i></a><ul class="dropdown-menu dropdown-user"><li><a href="#"><i class="fa fa-user fa-fw"><User>Profile</User></i></a></li><li><a href="#"><i class="fa fa-gear fa-fw"><Settings></Settings></i></a></li><li class="divider"></li><li><a href="login.html"><i class="fa fa-sign-out fa-fw"><Logout></Logout></i></a></li></ul><!-- /.dropdown-user--></li><!-- /.dropdown--></ul><!-- /.navbar-top-links--><div role="navigation" class="navbar-default sidebar"><div class="sidebar-nav navbar-collapse"><ul id="side-menu" class="nav"><li class="sidebar-search"><div class="input-group custom-search-form"><input type="text" placeholder="Search..." class="form-control"/><span class="input-group-btn"><button type="button" class="btn btn-default"><i class="fa fa-search"></i></button></span></div><!-- /input-group--></li><li><a href="index.php"><i class="fa fa-dashboard fa-fw"><Dashboard></Dashboard></i></a></li><li><a href="users.php"><i class="fa fa-users"><Users></Users></i></a></li><li><a href="events.php"><i class="fa fa-list"><Events></Events></i></a></li><li><a href="sitemap.php"><i class="fa fa-location-arrow"><Site>Map</Site></i></a></li><li><a href="analitics.php"><i class="fa fa-line-chart"><Google>Analitics</Google></i></a></li><li><a href="#"><i class="fa fa-bar-chart-o fa-fw"><Charts></Charts></i><span class="fa arrow"></span></a><ul class="nav nav-second-level"><li><a href="flot.php">Flot Charts</a></li><li><a href="morris.php">Morris.js Charts</a></li></ul><!-- /.nav-second-level--></li><li><a href="tables.php"><i class="fa fa-table fa-fw"><Tables></Tables></i></a></li><li><a href="forms.php"><i class="fa fa-edit fa-fw"><Forms></Forms></i></a></li><li><a href="#"><i class="fa fa-wrench fa-fw"><UI>Elements</UI></i><span class="fa arrow"></span></a><ul class="nav nav-second-level"><li><a href="panels-wells.php">Panels and Wells</a></li><li><a href="buttons.php">Buttons</a></li><li><a href="notifications.php">Notifications</a></li><li><a href="typography.php">Typography</a></li><li><a href="icons.php"> Icons</a></li><li><a href="grid.php">Grid</a></li></ul><!-- /.nav-second-level--></li><li><a href="#"><i class="fa fa-sitemap fa-fw"><Multi-Level>Dropdown</Multi-Level></i><span class="fa arrow"></span></a><ul class="nav nav-second-level"><li><a href="#">Second Level Item</a></li><li><a href="#">Second Level Item</a></li><li><a href="#"><Third>Level</Third></a><span class="fa arrow"></span><ul class="nav nav-third-level"><li><a href="#">Third Level Item</a></li><li><a href="#">Third Level Item</a></li><li><a href="#">Third Level Item</a></li><li><a href="#">Third Level Item</a></li></ul><!-- /.nav-third-level--></li></ul><!-- /.nav-second-level--></li><li><a href="#"><i class="fa fa-files-o fa-fw"><Sample>Pages</Sample></i><span class="fa arrow"></span></a><ul class="nav nav-second-level"><li><a href="blank.php">Blank Page</a></li><li><a href="login.php">Login Page</a></li></ul><!-- /.nav-second-level--></li></ul></div><!-- /.sidebar-collapse--></div><!-- /.navbar-static-side--></nav>
