templates/add_event.html
<!DOCTYPE html><head><meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width, initial-scale=1"><meta name="description" content=""><meta name="author" content=""><title>Admin</title><!-- Bootstrap Core CSS--><link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"><link href="../node_modules/jgrowl/jquery.jgrowl.min.css" rel="stylesheet"><!-- MetisMenu CSS--><link href="../bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet"><!-- Timeline CSS--><link href="../dist/css/timeline.css" rel="stylesheet"><!-- Custom CSS--><link href="../dist/css/fileinput.min.css" rel="stylesheet"><link href="../dist/css/sb-admin-2.css" rel="stylesheet"><!-- Morris Charts CSS--><link href="../bower_components/morrisjs/morris.css" rel="stylesheet"><!-- Custom Fonts--><link href="../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"><!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries--><!-- WARNING: Respond.js doesn't work if you view the page via file://--><!--if lt IE 9script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')

script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
--><link href="../dist/css/custom.css" rel="stylesheet"><!-- jQuery--><script src="../bower_components/jquery/dist/jquery.min.js"></script><!-- Bootstrap Core JavaScript--><script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script><script src="../node_modules/jgrowl/jquery.jgrowl.min.js"></script><script type="text/javascript" src="../bower_components/moment/min/moment.min.js"></script><script type="text/javascript" src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script><script type="text/javascript" src="../bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script><link rel="stylesheet" href="../bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css"></head><body><div id="wrapper"><!-- Navigation--><nav role="navigation" style="margin-bottom: 0" class="navbar navbar-default navbar-static-top"><div class="navbar-header"><button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="index.html" class="navbar-brand">Admin panel</a></div><!-- /.navbar-header--><ul class="nav navbar-top-links navbar-right"><li class="dropdown"><a data-toggle="dropdown" href="#" class="dropdown-toggle"><i class="fa fa-user fa-fw"></i><i class="fa fa-caret-down"></i></a><ul class="dropdown-menu dropdown-user"><li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a></li><li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a></li><li class="divider"></li><li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li></ul><!-- /.dropdown-user--></li><!-- /.dropdown--></ul><!-- /.navbar-top-links--><div role="navigation" class="navbar-default sidebar"><div class="sidebar-nav navbar-collapse"><ul id="side-menu" class="nav"><li class="sidebar-search"><div class="input-group custom-search-form"><input type="text" placeholder="Search..." class="form-control"><span class="input-group-btn"><button type="button" class="btn btn-default"><i class="fa fa-search"></i></button></span></div><!-- /input-group--></li><li><a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a></li><li><a href="users.html"><i class="fa fa-users"></i> Users</a></li><li><a href="events.html"><i class="fa fa-list"></i> Events</a></li><li><a href="sitemap.html"><i class="fa fa-location-arrow"></i> Site Map</a></li><li><a href="analitics.html"><i class="fa fa-line-chart"></i> Google Analitics</a></li><li><a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Charts<span class="fa arrow"></span></a><ul class="nav nav-second-level"><li><a href="flot.html">Flot Charts</a></li><li><a href="morris.html">Morris.js Charts</a></li></ul><!-- /.nav-second-level--></li><li><a href="tables.html"><i class="fa fa-table fa-fw"></i> Tables</a></li><li><a href="forms.html"><i class="fa fa-edit fa-fw"></i> Forms</a></li><li><a href="#"><i class="fa fa-wrench fa-fw"></i> UI Elements<span class="fa arrow"></span></a><ul class="nav nav-second-level"><li><a href="panels-wells.html">Panels and Wells</a></li><li><a href="buttons.html">Buttons</a></li><li><a href="notifications.html">Notifications</a></li><li><a href="typography.html">Typography</a></li><li><a href="icons.html"> Icons</a></li><li><a href="grid.html">Grid</a></li></ul><!-- /.nav-second-level--></li><li><a href="#"><i class="fa fa-sitemap fa-fw"></i> Multi-Level Dropdown<span class="fa arrow"></span></a><ul class="nav nav-second-level"><li><a href="#">Second Level Item</a></li><li><a href="#">Second Level Item</a></li><li><a href="#">Third Level<span class="fa arrow"></span></a><ul class="nav nav-third-level"><li><a href="#">Third Level Item</a></li><li><a href="#">Third Level Item</a></li><li><a href="#">Third Level Item</a></li><li><a href="#">Third Level Item</a></li></ul><!-- /.nav-third-level--></li></ul><!-- /.nav-second-level--></li><li><a href="#"><i class="fa fa-files-o fa-fw"></i> Sample Pages<span class="fa arrow"></span></a><ul class="nav nav-second-level"><li><a href="blank.html">Blank Page</a></li><li><a href="login.html">Login Page</a></li></ul><!-- /.nav-second-level--></li></ul></div><!-- /.sidebar-collapse--></div><!-- /.navbar-static-side--></nav><div id="page-wrapper"><div class="row"><div class="col-lg-12 page-header"><h1>Event</h1></div><!-- /.col-lg-12--></div><!-- /.row--><div class="row"><form role="form" enctype="multipart/form-data" onsubmit="putEventSubmit(); return false;" id="event-form"><input type="hidden" name="id"><div class="col-md-8"><div class="form-group"><label>Date</label><div class="datetimepicker input-group date"><input type="text" name="date" class="form-control"><span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span></div></div><div class="form-group"><label>Date End</label><div class="datetimepicker input-group date"><input type="text" name="date_end" class="form-control"><span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span></div></div><div class="form-group"><label>Post date</label><div class="datetimepicker input-group date"><input type="text" name="post_date" class="form-control"><span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span></div></div><div class="form-group"><label>Name</label><input type="text" name="name" class="form-control"></div><div class="form-group"><label>Description</label><textarea rows="3" name="description" class="form-control"></textarea></div><div class="form-group"><label>Line up</label><input type="text" name="line_up" class="form-control"></div><div class="col-md-6"><div class="form-group"><label>Country</label><input type="text" name="country" class="form-control"></div><div class="form-group"><label>Chekin radius</label><input type="text" name="checkin" class="form-control"></div></div><div class="col-md-6"><div class="form-group"><label>City</label><input type="text" name="city" class="form-control"></div><div class="form-group"><label>Venue</label><input type="text" name="venue" class="form-control"></div></div><div class="col-md-12"><div class="form-group"><label>Info</label><textarea name="info" rows="3" class="form-control"></textarea></div></div></div><div class="col-md-4"><div class="form-group"><div id="kv-avatar-errors" style="width:100%;display:none" class="center-block"></div><div style="width:100%" class="kv-avatar center-block"><input id="avatar" name="avatar" type="file" class="file-loading"></div></div><div class="form-group"><div class="checkbox"><label><input value="1" type="checkbox" name="active">Active</label></div></div><button type="submit" class="btn btn-success">Submit Event</button></div></form></div><!-- /.row--></div><!-- /#page-wrapper--><!-- /#wrapper--><script src="../dist/js/fileinput.min.js"></script><!-- Metis Menu Plugin JavaScript--><script src="../bower_components/metisMenu/dist/metisMenu.min.js"></script><!-- DataTables JavaScript--><script src="../bower_components/datatables/media/js/jquery.dataTables.min.js"></script><script src="../bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script><!-- Custom Theme JavaScript--><script src="../dist/js/sb-admin-2.js"></script><!-- Page-Level Demo Scripts - Tables - Use for reference--><script src="../js/api/add_event.js"></script></div></body>

templates/add_event.jade
doctype html
include ./includes/head.jade
body
    #wrapper
        include ./includes/nav.jade

        #page-wrapper
            .row
                .col-lg-12.page-header
                    h1 Event
                // /.col-lg-12
            // /.row
            .row
                form(role='form' enctype="multipart/form-data" onsubmit="putEventSubmit(); return false;")#event-form
                    input(type='hidden' name='id')
                    .col-md-8
                        .form-group
                            label Date
                            .datetimepicker.input-group.date
                                input.form-control(type='text' name='date')
                                span.input-group-addon
                                    span.glyphicon.glyphicon-calendar
                        .form-group
                            label Date End
                            .datetimepicker.input-group.date
                                input.form-control(type='text' name='date_end')
                                span.input-group-addon
                                    span.glyphicon.glyphicon-calendar
                        .form-group
                            label Post date
                            .datetimepicker.input-group.date
                                input.form-control(type='text' name='post_date')
                                span.input-group-addon
                                    span.glyphicon.glyphicon-calendar
                        .form-group
                            label Name
                            input.form-control(type='text' name='name')
                        .form-group
                            label Description
                            textarea.form-control(rows='3' name='description')
                        .form-group
                            label Line up
                            input.form-control(type='text' name='line_up')
                        .col-md-6
                            .form-group
                                label Country
                                input.form-control(type='text' name='country')
                            .form-group
                                label Chekin radius
                                input.form-control(type='text' name='checkin')
                        .col-md-6
                            .form-group
                                label City
                                input.form-control(type='text' name='city')
                            .form-group
                                label Venue
                                input.form-control(type='text' name='venue')
                        .col-md-12
                            .form-group
                                label Info
                                textarea.form-control(name='info' rows='3')
                    .col-md-4
                        .form-group
                            #kv-avatar-errors.center-block(style='width:100%;display:none')
                            .kv-avatar.center-block(style='width:100%')
                                input#avatar.file-loading(name='avatar', type='file')
                        .form-group
                            .checkbox
                                label
                                    input(value='1' type='checkbox' name='active')
                                    | Active
                        button.btn.btn-success(type='submit') Submit Event
            // /.row
        // /#page-wrapper
        // /#wrapper
        script(src='../dist/js/fileinput.min.js')
        // Metis Menu Plugin JavaScript
        script(src='../bower_components/metisMenu/dist/metisMenu.min.js')
        // DataTables JavaScript
        script(src='../bower_components/datatables/media/js/jquery.dataTables.min.js')
        script(src='../bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js')
        // Custom Theme JavaScript
        script(src='../dist/js/sb-admin-2.js')
        // Page-Level Demo Scripts - Tables - Use for reference

        script(src='../js/api/add_event.js')
