templates/events.jade
doctype html
include ./includes/head.jade
body
    #wrapper
        include ./includes/nav.jade

        #page-wrapper
            .row
                .col-lg-12.page-header
                    h1 Events
                    a.btn.btn-info(href='add_event.html') Add Event
                // /.col-lg-12
            // /.row
            .row
                .col-xs-12
                    .dataTable_wrapper
                        table#events-table.table.table-striped.table-bordered.table-hover
                            thead
                                tr
                                    th Date
                                    th Name
                                    th Status
                                    th Venue
                                    th Photo
                                    th Actions
                            tbody

                    // /.table-responsive
            // /.row
        // /#page-wrapper
        // /#wrapper
        script(src='../dist/js/fileinput.min.js')
        // Metis Menu Plugin JavaScript
        script(src='../bower_components/metisMenu/dist/metisMenu.min.js')
        // DataTables JavaScript
        script(src='../bower_components/datatables/media/js/jquery.dataTables.min.js')
        script(src='../bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js')
        // Custom Theme JavaScript
        script(src='../dist/js/sb-admin-2.js')
        // Page-Level Demo Scripts - Tables - Use for reference
        script.
            $(document).ready(function() {
                var btnCust = '<div class="form-group"><div class="checkbox"><label>'+
                        '<input type="checkbox" value="">Overwrite files</label></div></div>';
                $("#avatar").fileinput({
                    overwriteInitial: true,
                    maxFileSize: 1500,
                    showClose: false,
                    showCaption: false,
                    browseLabel: '',
                    removeLabel: '',
                    browseIcon: '<i class="glyphicon glyphicon-folder-open"></i>',
                    removeIcon: '<i class="glyphicon glyphicon-remove"></i>',
                    removeTitle: 'Cancel or reset changes',
                    elErrorContainer: '#kv-avatar-errors',
                    msgErrorClass: 'alert alert-block alert-danger',
                    defaultPreviewContent: '<img src="/img/default-male.png" alt="Your Avatar" style="width:160px">',
                    layoutTemplates: {main2: '{preview} ' +  btnCust + ' {remove} {browse}'},
                    allowedFileExtensions: ["jpg", "png", "gif"]
                });
            });

        script(src='../js/api/events.js')

templates/events.html
<!DOCTYPE html><head><meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width, initial-scale=1"><meta name="description" content=""><meta name="author" content=""><title>Admin</title><!-- Bootstrap Core CSS--><link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"><link href="../node_modules/jgrowl/jquery.jgrowl.min.css" rel="stylesheet"><!-- MetisMenu CSS--><link href="../bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet"><!-- Timeline CSS--><link href="../dist/css/timeline.css" rel="stylesheet"><!-- Custom CSS--><link href="../dist/css/fileinput.min.css" rel="stylesheet"><link href="../dist/css/sb-admin-2.css" rel="stylesheet"><!-- Morris Charts CSS--><link href="../bower_components/morrisjs/morris.css" rel="stylesheet"><!-- Custom Fonts--><link href="../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"><!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries--><!-- WARNING: Respond.js doesn't work if you view the page via file://--><!--if lt IE 9script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')

script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
--><link href="../dist/css/custom.css" rel="stylesheet"><!-- jQuery--><script src="../bower_components/jquery/dist/jquery.min.js"></script><!-- Bootstrap Core JavaScript--><script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script><script src="../node_modules/jgrowl/jquery.jgrowl.min.js"></script><script type="text/javascript" src="../bower_components/moment/min/moment.min.js"></script><script type="text/javascript" src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script><script type="text/javascript" src="../bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script><link rel="stylesheet" href="../bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css"></head><body><div id="wrapper"><!-- Navigation--><nav role="navigation" style="margin-bottom: 0" class="navbar navbar-default navbar-static-top"><div class="navbar-header"><button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="index.html" class="navbar-brand">Admin panel</a></div><!-- /.navbar-header--><ul class="nav navbar-top-links navbar-right"><li class="dropdown"><a data-toggle="dropdown" href="#" class="dropdown-toggle"><i class="fa fa-user fa-fw"></i><i class="fa fa-caret-down"></i></a><ul class="dropdown-menu dropdown-user"><li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a></li><li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a></li><li class="divider"></li><li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li></ul><!-- /.dropdown-user--></li><!-- /.dropdown--></ul><!-- /.navbar-top-links--><div role="navigation" class="navbar-default sidebar"><div class="sidebar-nav navbar-collapse"><ul id="side-menu" class="nav"><li class="sidebar-search"><div class="input-group custom-search-form"><input type="text" placeholder="Search..." class="form-control"><span class="input-group-btn"><button type="button" class="btn btn-default"><i class="fa fa-search"></i></button></span></div><!-- /input-group--></li><li><a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a></li><li><a href="users.html"><i class="fa fa-users"></i> Users</a></li><li><a href="events.html"><i class="fa fa-list"></i> Events</a></li><li><a href="sitemap.html"><i class="fa fa-location-arrow"></i> Site Map</a></li><li><a href="analitics.html"><i class="fa fa-line-chart"></i> Google Analitics</a></li><li><a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Charts<span class="fa arrow"></span></a><ul class="nav nav-second-level"><li><a href="flot.html">Flot Charts</a></li><li><a href="morris.html">Morris.js Charts</a></li></ul><!-- /.nav-second-level--></li><li><a href="tables.html"><i class="fa fa-table fa-fw"></i> Tables</a></li><li><a href="forms.html"><i class="fa fa-edit fa-fw"></i> Forms</a></li><li><a href="#"><i class="fa fa-wrench fa-fw"></i> UI Elements<span class="fa arrow"></span></a><ul class="nav nav-second-level"><li><a href="panels-wells.html">Panels and Wells</a></li><li><a href="buttons.html">Buttons</a></li><li><a href="notifications.html">Notifications</a></li><li><a href="typography.html">Typography</a></li><li><a href="icons.html"> Icons</a></li><li><a href="grid.html">Grid</a></li></ul><!-- /.nav-second-level--></li><li><a href="#"><i class="fa fa-sitemap fa-fw"></i> Multi-Level Dropdown<span class="fa arrow"></span></a><ul class="nav nav-second-level"><li><a href="#">Second Level Item</a></li><li><a href="#">Second Level Item</a></li><li><a href="#">Third Level<span class="fa arrow"></span></a><ul class="nav nav-third-level"><li><a href="#">Third Level Item</a></li><li><a href="#">Third Level Item</a></li><li><a href="#">Third Level Item</a></li><li><a href="#">Third Level Item</a></li></ul><!-- /.nav-third-level--></li></ul><!-- /.nav-second-level--></li><li><a href="#"><i class="fa fa-files-o fa-fw"></i> Sample Pages<span class="fa arrow"></span></a><ul class="nav nav-second-level"><li><a href="blank.html">Blank Page</a></li><li><a href="login.html">Login Page</a></li></ul><!-- /.nav-second-level--></li></ul></div><!-- /.sidebar-collapse--></div><!-- /.navbar-static-side--></nav><div id="page-wrapper"><div class="row"><div class="col-lg-12 page-header"><h1>Events</h1><a href="add_event.html" class="btn btn-info">Add Event</a></div><!-- /.col-lg-12--></div><!-- /.row--><div class="row"><div class="col-xs-12"><div class="dataTable_wrapper"><table id="events-table" class="table table-striped table-bordered table-hover"><thead><tr><th>Date</th><th>Name</th><th>Status</th><th>Venue</th><th>Photo</th><th>Actions</th></tr></thead><tbody></tbody></table></div><!-- /.table-responsive--></div></div><!-- /.row--></div><!-- /#page-wrapper--><!-- /#wrapper--><script src="../dist/js/fileinput.min.js"></script><!-- Metis Menu Plugin JavaScript--><script src="../bower_components/metisMenu/dist/metisMenu.min.js"></script><!-- DataTables JavaScript--><script src="../bower_components/datatables/media/js/jquery.dataTables.min.js"></script><script src="../bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script><!-- Custom Theme JavaScript--><script src="../dist/js/sb-admin-2.js"></script><!-- Page-Level Demo Scripts - Tables - Use for reference--><script>$(document).ready(function() {
    var btnCust = '<div class="form-group"><div class="checkbox"><label>'+
            '<input type="checkbox" value="">Overwrite files</label></div></div>';
    $("#avatar").fileinput({
        overwriteInitial: true,
        maxFileSize: 1500,
        showClose: false,
        showCaption: false,
        browseLabel: '',
        removeLabel: '',
        browseIcon: '<i class="glyphicon glyphicon-folder-open"></i>',
        removeIcon: '<i class="glyphicon glyphicon-remove"></i>',
        removeTitle: 'Cancel or reset changes',
        elErrorContainer: '#kv-avatar-errors',
        msgErrorClass: 'alert alert-block alert-danger',
        defaultPreviewContent: '<img src="/img/default-male.png" alt="Your Avatar" style="width:160px">',
        layoutTemplates: {main2: '{preview} ' +  btnCust + ' {remove} {browse}'},
        allowedFileExtensions: ["jpg", "png", "gif"]
    });
});
</script><script src="../js/api/events.js"></script></div></body>
