templates/users.html
<!DOCTYPE html><head><meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width, initial-scale=1"><meta name="description" content=""><meta name="author" content=""><title>Admin</title><!-- Bootstrap Core CSS--><link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"><link href="../node_modules/jgrowl/jquery.jgrowl.min.css" rel="stylesheet"><!-- MetisMenu CSS--><link href="../bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet"><!-- Timeline CSS--><link href="../dist/css/timeline.css" rel="stylesheet"><!-- Custom CSS--><link href="../dist/css/fileinput.min.css" rel="stylesheet"><link href="../dist/css/sb-admin-2.css" rel="stylesheet"><!-- Morris Charts CSS--><link href="../bower_components/morrisjs/morris.css" rel="stylesheet"><!-- Custom Fonts--><link href="../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"><!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries--><!-- WARNING: Respond.js doesn't work if you view the page via file://--><!--if lt IE 9script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')

script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
--><link href="../dist/css/custom.css" rel="stylesheet"><!-- jQuery--><script src="../bower_components/jquery/dist/jquery.min.js"></script><!-- Bootstrap Core JavaScript--><script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script><script src="../node_modules/jgrowl/jquery.jgrowl.min.js"></script><script type="text/javascript" src="../bower_components/moment/min/moment.min.js"></script><script type="text/javascript" src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script><script type="text/javascript" src="../bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script><link rel="stylesheet" href="../bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css"></head><body><div id="wrapper"><!-- Navigation--><nav role="navigation" style="margin-bottom: 0" class="navbar navbar-default navbar-static-top"><div class="navbar-header"><button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="index.html" class="navbar-brand">Admin panel</a></div><!-- /.navbar-header--><ul class="nav navbar-top-links navbar-right"><li class="dropdown"><a data-toggle="dropdown" href="#" class="dropdown-toggle"><i class="fa fa-user fa-fw"></i><i class="fa fa-caret-down"></i></a><ul class="dropdown-menu dropdown-user"><li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a></li><li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a></li><li class="divider"></li><li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li></ul><!-- /.dropdown-user--></li><!-- /.dropdown--></ul><!-- /.navbar-top-links--><div role="navigation" class="navbar-default sidebar"><div class="sidebar-nav navbar-collapse"><ul id="side-menu" class="nav"><li class="sidebar-search"><div class="input-group custom-search-form"><input type="text" placeholder="Search..." class="form-control"><span class="input-group-btn"><button type="button" class="btn btn-default"><i class="fa fa-search"></i></button></span></div><!-- /input-group--></li><li><a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a></li><li><a href="users.html"><i class="fa fa-users"></i> Users</a></li><li><a href="events.html"><i class="fa fa-list"></i> Events</a></li><li><a href="sitemap.html"><i class="fa fa-location-arrow"></i> Site Map</a></li><li><a href="analitics.html"><i class="fa fa-line-chart"></i> Google Analitics</a></li><li><a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Charts<span class="fa arrow"></span></a><ul class="nav nav-second-level"><li><a href="flot.html">Flot Charts</a></li><li><a href="morris.html">Morris.js Charts</a></li></ul><!-- /.nav-second-level--></li><li><a href="tables.html"><i class="fa fa-table fa-fw"></i> Tables</a></li><li><a href="forms.html"><i class="fa fa-edit fa-fw"></i> Forms</a></li><li><a href="#"><i class="fa fa-wrench fa-fw"></i> UI Elements<span class="fa arrow"></span></a><ul class="nav nav-second-level"><li><a href="panels-wells.html">Panels and Wells</a></li><li><a href="buttons.html">Buttons</a></li><li><a href="notifications.html">Notifications</a></li><li><a href="typography.html">Typography</a></li><li><a href="icons.html"> Icons</a></li><li><a href="grid.html">Grid</a></li></ul><!-- /.nav-second-level--></li><li><a href="#"><i class="fa fa-sitemap fa-fw"></i> Multi-Level Dropdown<span class="fa arrow"></span></a><ul class="nav nav-second-level"><li><a href="#">Second Level Item</a></li><li><a href="#">Second Level Item</a></li><li><a href="#">Third Level<span class="fa arrow"></span></a><ul class="nav nav-third-level"><li><a href="#">Third Level Item</a></li><li><a href="#">Third Level Item</a></li><li><a href="#">Third Level Item</a></li><li><a href="#">Third Level Item</a></li></ul><!-- /.nav-third-level--></li></ul><!-- /.nav-second-level--></li><li><a href="#"><i class="fa fa-files-o fa-fw"></i> Sample Pages<span class="fa arrow"></span></a><ul class="nav nav-second-level"><li><a href="blank.html">Blank Page</a></li><li><a href="login.html">Login Page</a></li></ul><!-- /.nav-second-level--></li></ul></div><!-- /.sidebar-collapse--></div><!-- /.navbar-static-side--></nav><div id="page-wrapper"><div class="row"><div class="col-lg-12 page-header"><h1>Users list</h1><p>December 2015 activity</p></div><!-- /.col-lg-12--></div><!-- /.row--><div class="row"><div class="col-xs-12"><div class="dataTable_wrapper"><table id="users-table" class="table table-striped table-bordered table-hover"><thead><tr><th>Username</th><th>Email</th><th>Gender</th><th>City</th><th>Age</th><th>First Name</th><th>Last Name</th><th>Photo</th><th>Active</th><th>Actions</th><th>Verified</th></tr></thead><tbody></tbody></table></div><!-- /.table-responsive--></div></div><!-- /.row--></div><!-- /#page-wrapper--><!-- Modal--><div id="updateUser" role="dialog" class="modal fade"><div class="modal-dialog"><!-- Modal content--><div class="modal-content"><div class="modal-header"><button type="button" data-dismiss="modal" class="close">×</button><h4 class="modal-title">Update User</h4></div><div class="modal-body"><form enctype="multipart/form-data" role="form" id="form-update-user" onsubmit="putUserSubmit(); return false" style="overflow: hidden;" class="form-horizontal"><input type="hidden" name="id"><div class="form-group"><label class="control-label col-sm-2">Username</label><div class="col-sm-9"><input type="text" name="username" class="form-control"></div></div><div class="form-group"><label class="control-label col-sm-2">Email</label><div class="col-sm-9"><input type="email" name="email" class="form-control"></div></div><div class="form-group"><label class="control-label col-sm-2">Gender</label><div class="col-sm-2"><select name="gender" class="form-control"><option>M</option><option>F</option></select></div></div><div class="form-group"><label class="control-label col-sm-2">City</label><div class="col-sm-9"><input type="text" name="city" class="form-control"></div></div><div class="form-group"><label class="control-label col-sm-2">Age</label><div class="col-sm-9"><input type="number" value="18" name="age" class="form-control"></div></div><div class="form-group"><label class="control-label col-sm-2">First name</label><div class="col-sm-9"><input type="text" name="first_name" class="form-control"></div></div><div class="form-group"><label class="control-label col-sm-2">Last name</label><div class="col-sm-9"><input type="text" name="last_name" class="form-control"></div></div><div class="form-group"><label class="control-label col-sm-2">Photo</label><div class="col-sm-9"><div id="kv-avatar-errors" style="width:100%;display:none" class="center-block"></div><div style="width:100%" class="kv-avatar center-block"><input id="avatar" name="photo" type="file" class="file-loading"></div></div></div><div class="form-group"><div class="col-sm-9 col-sm-offset-2"><div class="checkbox"><label><input value="1" type="checkbox" name="active">Active</label></div></div></div><div class="form-group"><div class="col-md-3 col-md-offset-2"><input type="submit" value="Save" class="btn btn-success"></div></div></form></div><div class="modal-footer"><button type="button" data-dismiss="modal" class="btn btn-default">Close</button></div></div></div></div><!-- /#wrapper--><!-- Metis Menu Plugin JavaScript--><script src="../bower_components/metisMenu/dist/metisMenu.min.js"></script><!-- DataTables JavaScript--><script src="../bower_components/datatables/media/js/jquery.dataTables.min.js"></script><script src="../bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script><!-- Custom Theme JavaScript--><script src="../dist/js/sb-admin-2.js"></script><!-- Page-Level Demo Scripts - Tables - Use for reference--><script src="../js/api/users.js"></script><script src="../dist/js/fileinput.min.js"></script></div></body>

templates/users.jade
doctype html
include ./includes/head.jade
body
    #wrapper
        include ./includes/nav.jade

        #page-wrapper
            .row
                .col-lg-12.page-header
                    h1 Users list
                    p December 2015 activity
                // /.col-lg-12
            // /.row
            .row
                .col-xs-12
                    .dataTable_wrapper
                        table#users-table.table.table-striped.table-bordered.table-hover
                            thead
                                tr
                                    th Username
                                    th Email
                                    th Gender
                                    th City
                                    th Age
                                    th First Name
                                    th Last Name
                                    th Photo
                                    th Active
                                    th Actions
                                    th Verified
                            tbody

                    // /.table-responsive
            // /.row
        // /#page-wrapper
        // Modal
        #updateUser.modal.fade(role='dialog')
            .modal-dialog
                // Modal content
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal') ×
                        h4.modal-title
                            | Update User
                    .modal-body
                        form(enctype="multipart/form-data" role='form' id='form-update-user' onsubmit='putUserSubmit(); return false' style='overflow: hidden;').form-horizontal
                            input(type='hidden' name='id')
                            .form-group
                                label.control-label.col-sm-2 Username
                                .col-sm-9
                                    input.form-control(type='text' name='username')
                            .form-group
                                label.control-label.col-sm-2 Email
                                .col-sm-9
                                    input.form-control(type='email' name='email')
                            .form-group
                                label.control-label.col-sm-2 Gender
                                .col-sm-2
                                    select.form-control(name='gender')
                                        option M
                                        option F
                            .form-group
                                label.control-label.col-sm-2 City
                                .col-sm-9
                                    input.form-control(type='text' name='city')
                            .form-group
                                label.control-label.col-sm-2 Age
                                .col-sm-9
                                    input.form-control(type='number' value='18' name='age')
                            .form-group
                                label.control-label.col-sm-2 First name
                                .col-sm-9
                                    input.form-control(type='text' name='first_name')
                            .form-group
                                label.control-label.col-sm-2 Last name
                                .col-sm-9
                                    input.form-control(type='text' name='last_name')
                            .form-group
                                label.control-label.col-sm-2 Photo
                                .col-sm-9
                                    #kv-avatar-errors.center-block(style='width:100%;display:none')
                                    .kv-avatar.center-block(style='width:100%')
                                        input#avatar.file-loading(name='photo', type='file')
                            .form-group
                                .col-sm-9.col-sm-offset-2
                                    .checkbox
                                        label
                                            input(value='1' type='checkbox' name='active')
                                            | Active
                            .form-group
                                .col-md-3.col-md-offset-2
                                    input(type='submit' value='Save').btn.btn-success

                    .modal-footer
                        button.btn.btn-default(type='button', data-dismiss='modal') Close
        // /#wrapper
        // Metis Menu Plugin JavaScript
        script(src='../bower_components/metisMenu/dist/metisMenu.min.js')
        // DataTables JavaScript
        script(src='../bower_components/datatables/media/js/jquery.dataTables.min.js')
        script(src='../bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js')
        // Custom Theme JavaScript
        script(src='../dist/js/sb-admin-2.js')
        // Page-Level Demo Scripts - Tables - Use for reference
        script(src='../js/api/users.js')
        script(src='../dist/js/fileinput.min.js')
